workflows/sentiment-analysis.json
{
  "name": "content-pipeline",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analyze",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "8aeae849-9b39-4b8a-a842-4c964aeffad9",
      "name": "Webhook",
      "webhookId": "10474a9d-c5be-466e-ad40-676f7eeadc74"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/cardiffnlp/twitter-roberta-base-sentiment-latest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer {{HUGGINGFACE_API_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputs",
              "value": "={{ $json.body.texto }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        208,
        0
      ],
      "id": "43c7ab16-7b38-4ef4-9b8c-54e8f03736a7",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://router.huggingface.co/hf-inference/models/facebook/bart-large-xsum",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": " Bearer {{HUGGINGFACE_API_TOKEN}}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "inputs",
              "value": "=={{ $('Webhook').item.json.body.texto }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        416,
        0
      ],
      "id": "1e4b0414-d435-4d4b-8406-970eb7151433",
      "name": "Summarization"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO analyses (texto, sentimento, confianca, resumo)\nVALUES (\n  $1, $2, $3::decimal, $4\n)",
        "options": {
          "queryReplacement": "=={{ $('Webhook').item.json.body.texto }},{{ $('HTTP Request').item.json[0].label }},{{ $('HTTP Request').item.json[0].score }},{{ $('Summarization').item.json.summary_text }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        592,
        0
      ],
      "id": "0b3d049f-c8e2-45bb-96e8-71ceea60a0c1",
      "name": "Save to Database",
      "credentials": {
        "postgres": {
          "id": "EPpmyX5zTRSwxLID",
          "name": "Postgres account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Summarization",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarization": {
      "main": [
        [
          {
            "node": "Save to Database",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "74a986b2-9e0b-47ea-8294-f4dd1dfb2a9b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "460886a9fa1c90b6fbf46e75595e14e4692493f3559d055ae973354dbac73e9b"
  },
  "nodeGroups": [],
  "id": "cUNrOHEFGgBbt188",
  "tags": []
}